<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>

	<bean id="triangle" class="edu.deepak._10_Autowiring.Triangle"
		autowire="byName" scope="prototype">
	</bean>

	<bean id="pointA" class="edu.deepak._10_Autowiring.Point">
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>

<!-- 	<bean id="pointB" class="edu.deepak._10_Autowiring.Point"> -->
<!-- 		<property name="x" value="0" /> -->
<!-- 		<property name="y" value="0" /> -->
<!-- 	</bean> -->


<!-- 	<bean id="pointC" class="edu.deepak._10_Autowiring.Point"> -->
<!-- 		<property name="x" value="0" /> -->
<!-- 		<property name="y" value="20" /> -->
<!-- 	</bean> -->

	<bean id="circle1" class="edu.deepak._10_Autowiring.Circle"
		autowire="byType" />
		
		
	<bean id="circle2" class="edu.deepak._10_Autowiring.Circle"
		autowire="constructor" />




</beans>