<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
    "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="edu.deepak._17_CodingToInterface.Triangle"
		autowire="byName" />

	<bean id="circle" class="edu.deepak._17_CodingToInterface.Circle" autowire="byName" />
<!-- 		<constructor-arg ref="pointA" /> -->
<!-- 	</bean> -->

	<bean id="pointA" class="edu.deepak._17_CodingToInterface.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>
	<bean id="pointB" class="edu.deepak._17_CodingToInterface.Point">
		<property name="x" value="10" />
		<property name="y" value="15" />
	</bean>
	<bean id="pointC" class="edu.deepak._17_CodingToInterface.Point">
		<property name="x" value="15" />
		<property name="y" value="20" />
	</bean>
</beans>

